/* ส่วนคุมความสวยงามของปุ่มและไอคอนแยกต่างหาก */
.btn-container {
    padding: 30px;
    text-align: center;
}

.btn-register { 
    background-color: #d97706; 
    color: white; 
    padding: 15px 40px; 
    font-size: 1.4rem; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(217, 119, 6, 0.3);
}

.btn-register:hover { 
    transform: translateY(-3px);
    background-color: #b45309; 
}
